textarea {
  border: none;
}
textarea {
  width: 100%;
  height: 40%;
}
textarea:focus {
  outline: none !important;
}
.Input__el {
  background-color: red;
}
.outline_Button {
  color: #99a2ad;
  border-color: #99a2ad;
  margin-right: 12px;
}
